body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

h1,
h2 {
  color: #333;
}

nav {
  margin-bottom: 20px;
}

#product-form,
#products {
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin: 10px 0 5px;
}
#add-product-form input {
  width: 100%;
  padding: 8px;
  margin: 5px 0 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
form .ok {
  border-radius: 5px;
  width: 90px;
  background-color: blue;
  border: 1px solid #ccc;
  height: 30px;
}
form button:hover {
  background: #218838;
}

#product-list {
  list-style: none;
  padding: 0;
}

#product-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#product-list li:last-child {
  border-bottom: none;
}
